@import '~react-dates/css/styles.scss';

body {
  background-color: #C5D3CD;
  font-family: 'Titillium Web', sans-serif;
}

.controls {
  margin: 0 auto 0.3em;
  padding: 0;
  width: 420px;
  border: 1px solid $react-dates-color-gray-lighter;
  background-color: #fff;
  border-radius: 15px;
}

.center-block {
  display: inline-block;
}

.button-common {
  &:hover {
    text-shadow: 1px 1px 2px $react-dates-color-gray-light;
    cursor: pointer;
  }
  &:active {
    text-shadow: none;
  }
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}

.range-button {
  @extend .button-common;
  width: 25%;
  padding: 2px 0;
  font-size: 1em;
  border-radius: 2px;
}

.active {
  &:focus {
    outline: none;
  }
  &:hover {
    text-shadow: none;
    cursor: default;
  }
  color: $react-dates-color-secondary;
  background-color: $react-dates-color-focus;
}

.nav-button {
  @extend .button-common;
  &:focus {
    outline: none;
    color: $react-dates-color-secondary;
    text-shadow: 1px 1px 2px $react-dates-color-gray-light;
  }
  &:disabled {
    text-shadow: none;
    color: $react-dates-color-gray-lighter;
    cursor: default;
  }
  font-size: 3em;
  padding: 0 10px;
}

.chart {
  background-color: #fff;
  border: 1px solid $react-dates-color-gray-lighter;
  border-radius: 5px;
}

footer {
  width: 152px;
  font-size: 0.8em;
  margin: 0 auto;
}

a {
  color: $react-dates-color-secondary;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:active {
    color: $react-dates-color-primary;
  }
}
